.header-container {
  display: flex;
  flex-direction: column;
  background: #131e2f;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

.header-content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 5px 40px;
}

.marcasLogo-content {
  display: flex;
  gap: 10px;
}

.help-suport-content {
  display: flex;
  gap: 10px;
}

.help-suport-content a {
  color: #131e2f;
  text-decoration: none;
}

.help-suport-content select {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.header-content2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo-search-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo-search-content h1 {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.search-content {
  display: flex;
}

.search-content input {
  width: 600px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search-content button {
  padding: 0 12px;
  border: none;
  background: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-content button > img {
  width: 15px;
  height: 15px;
}

.header-buttons-content {
  display: flex;
  gap: 20px;
}

.header-buttons-content button {
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  cursor: pointer;
}

.header-buttons-content .signIn-button {
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.header-buttons-content .signUp-button {
  background: #3a89ff;
  color: #fff;
  font-size: 16px;
}

.header-content3 {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 40px 15px 40px;
}

.menu-content .navegation-content {
  display: flex;
  gap: 30px;
}

.menu-content .navegation-content > button{
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdownCategories-content {
  position: absolute;
  top: 100%;
  left: 2.7%;
  width: 15%;
  height: 35vh;
  padding: 20px 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* Sombra leve para a parte superior */ 0 6px 20px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdownCategories-content a {
  text-decoration: none;
  color: #131e2f;
  transition: 0.2s;
  border: none;
  border-radius: 5px;
}

.dropdownCategories-content a:hover {
  color: #3a89ff;
}

.dropdownDeliver-content{
    position: absolute;
    top: 100%;
    left: 12%;
    width: 18%;
    height: 40vh;
    padding: 20px 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
      /* Sombra leve para a parte superior */ 0 6px 20px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdownDeliver-content select {
    padding: 8px 20px;
    background: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* Sombra leve para a parte superior */ 0 6px 20px rgba(0, 0, 0, 0.1);
}

.dropdownDeliver-content button {
    padding: 8px 20px;
    background: #3a89ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.favorite-cart-content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.favorite-cart-content a {
  text-decoration: none;
  color: #fff;
}

.link-favorite {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link-cart {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items {
  background: #3a89ff;
  padding: 0 10px;
  border-radius: 50px;
  font-size: 12px;
}

.cart-string {
  margin-bottom: -3.5px;
}

.user-container{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a89ff;
  color: #fff;
  border-radius: 50px;
  font-size: 20px;
  border: none;
}

@media only screen and (max-width: 767px){
  .header-content1 {
    padding: 5px 15px;
  }

  .marcasLogo-content img{
    width: 30px;
    height: 30px;
  }
  
  .help-suport-content a {
    font-size: 12px;
  }

  .traco{
    font-size: 12px;
  }
  
  .help-suport-content select {
    width: 70px;
    font-size: 12px;
  }


  .header-content2 {
    padding: 15px;
    display: flex;
    align-items: flex-end;
  }
  
  .logo-search-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
  .logo-search-content h1 {
    font-size: 16px;
  }
  
  .search-content input {
    width: 220px;
  }
  
  .header-buttons-content .signIn-button {
    font-size: 12px;
  }
  
  .header-buttons-content .signUp-button {
   display: none;
  }


  .header-content3 {
    padding: 0 15px 15px 15px;
  }
  
  .menu-content .navegation-content {
    display: flex;
    gap: 20px;
  }
  
  .menu-content .navegation-content > button{
    color: #fff;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
  }

  .dropdownCategories-content {
    width: 200px;
    padding: 20px 10px;
  }
  
  .dropdownDeliver-content{
    width: 200px;
      left: 32%;
  }

  .down{
    width: 12px;
    height: 12px;
  }

  .localization{
    display: none;
  }
  
  .link-favorite img{
    display: none;
  }

  .link-favorite span{
    font-size: 12px;
  }

  .link-cart img{
    width: 18px;
    height: 18px;
  }
  
  .cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-items {
    padding: 0 8px;
    font-size: 11px;
  }
  
  .cart-string {
    font-size: 12px;
  }

  .user-container{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 14px;
    border: none;
  }
  

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .logo-search-content {
    gap: 30px;
  }
  
  .logo-search-content h1 {
    font-size: 24px;
  }
  
  .search-content input {
    width: 300px;
  }

  .header-buttons-content {
    display: flex;
    gap: 10px;
  }

  .header-buttons-content .signIn-button {
    background: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
  }
  
  .header-buttons-content .signUp-button {
    background: #3a89ff;
    color: #fff;
    font-size: 12px;
  }
  
  
.dropdownCategories-content {
  position: absolute;
  top: 100%;
  left: 3%;
  width: 24.5%;
  height: 20vh;
  padding: 20px;
}

.dropdownDeliver-content{
  left: 23%;
  width: 40%;
  height: 30vh;
  padding: 30px 10px;
}
}