.produtos-container {
  display: grid;
  grid-template-columns: 1fr; /* Ajusta o número de colunas conforme o tamanho da tela */
  gap: 30px;
  margin-top: 180px;
  z-index: 1;
}

.header-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

.header-text-container h1 {
  font-weight: 600;
  font-size: 32px;
}

.lista-de-produtos {
  width: 100%;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.produto-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 8px;
}

.produto-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}

.detalhes-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.produto-name {
  font-weight: 500;
  font-size: 16px;
}

.produto-preco {
  font-weight: 500;
  font-size: 24px;
}

.button-buy-cart {
  display: flex;
  gap: 10px;
}

.button-buy-now {
  border: none;
  padding: 10px 20px;
  background: #3a89ff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.button-cart {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50px;
  position: absolute;
  margin: 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* Sombra leve para a parte superior */ 0 6px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Para telas menores */
@media only screen and (max-width: 767px) {
  .produtos-container {
    margin-top: 130px;
  }

  .header-text-container {
    padding: 30px 20px;
  }

  .header-text-container h1 {
    font-size: 24px;
  }

  .header-text-container span {
    font-size: 12px;
  }

  .lista-de-produtos {
    width: 100%;
    padding: 0;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .produto-card {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .produto-card img {
    width: 200px;
  }

  .detalhes-content {
    justify-content: space-between;
    width: 100%;
  }

  .produto-preco {
    font-size: 18px;
  }

  .produto-name {
    font-weight: 500;
    font-size: 20px;
  }

  .button-buy-now {
    font-size: 12px;
    padding: 8px 10px;
  }
}

/* Para telas intermediárias */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .lista-de-produtos {
    padding: 0 10px;
  }

  .produto-card {
    grid-template-columns: 1fr 1fr;
  }

  .detalhes-content {
    justify-content: center;
    gap: 30px;
  }

  .produto-preco {
    font-size: 24px;
  }

  .button-buy-now {
    padding: 10px 15px;
    font-size: 14px;
  }

  .lista-de-produtos {
    padding: 0 10px;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
